.dashboard-container {
  display: flex;
}

.dashboard-content {
  margin-left: 260px;                 
  padding: 40px;
  background: #f4f6f9;
  min-height: 100vh;
  width: calc(100% - 260px);          
  box-sizing: border-box;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 260px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.table th {
  background: #1e3c72;
  color: white;
  padding: 12px;
  text-align: left;
}

.table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.table tr:hover {
  background: #f7f9fc;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.status.pending {
  background: #ffe5b4;
  color: #cc8400;
}

.status.in-progress {
  background: #d6e4ff;
  color: #003399;
}

.status.resolved {
  background: #d4edda;
  color: #155724;
}


.small-btn {
  padding: 5px 10px;
  border: none;
  background: #2a5298;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.main-btn {
  margin-top: 15px;
  padding: 10px 16px;
  border: none;
  background: #1e3c72;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.main-btn:hover {
  background: #16305a;
}

.list-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

