body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1e3c72, #2a5298);
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.3);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 25px;
}

.login-card input,
.login-card select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #2a5298;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background: #1e3c72;
}
